@import '../../variables.scss';

.darkTheme {

  // 总控台
  .shopSet {
    background: #000;

    .layoutTop {
      background: $topBarBg url(~@/assets/topbg.png) no-repeat right top;

      .meauNav {
        .meau-box1 {
          background-color: #1a1a1a;

          .meau-list {
            .t-s01 {
              color: #ffffff;
            }

            .layer-nav {
              background: #ffffff;
              border-left: 1px solid #0a0a0a;
              border-bottom: 1px solid #0a0a0a;

              .list-nav {
                color: #000;
              }
            }
          }

          .active {
            background-color: #ffffff;

            .t-s01 {
              color: #0a0a0a;
            }
          }
        }
      }

      .topLogo {
        color: #ffffff;
        background-color: $menuBg;
      }

      .topLeft {
        .topIcon01 {
          color: #ffbe11;
        }

        .topConsole {
          background-color: #ffbe11 !important;
          color: #0a0a0a !important;

          i {
            color: #0a0a0a !important;
          }
        }

        .el-button {
          background-color: #2e2e2e;
          color: #ffffff;
        }
      }

      .topRight {
        .topIcon02 {
          color: #b8b8b8;
        }

        .topNav {
          .txnav {
            background-color: #b8b8b8;
          }

          .shopNameNav {
            .name-span {
              color: #ffffff;
            }

            .topIcon03 {
              color: #b8b8b8;
            }
          }
        }
      }
    }


    .iconBtn {
      background: #3c3c3c;
      color: #ccc;
    }

    .topBox {
      background: #2e2e2e;
      color: #dfdfdf;

      .reserve_day {
        background: #1a1a1a;
        border: 1px solid #0a0a0a;

        li {
          border: 1px solid #0a0a0a;
          color: #fff;

          &:hover {
            color: #ffbe11;

            .days {
              color: #ffbe11;
            }
          }

          .days {
            color: #dfdfdf;
          }
          .top-check{
            color:#FFBE11;
          }
        }

        .active {
          color: #ffbe11;

          .days {
            color: #ffbe11;
          }
        }
      }

      // .checkType{
      // color: #DFDFDF;
      .searchSVG {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .searchSVG i {
        color: #0a0a0a;
      }

      .searchDay {
        background: #1f1f1f;
        color: #dfdfdf;
      }

      .searchPlaceOrPhone {
        background: #1f1f1f;
        color: #dfdfdf;
      }
    }

    .mainContent {
      .placeType {
        background: #2d2d2d;

        ul {
          .placeTypeLi {
            color: #fff;

            &:hover {
              background: #ffbe11;
              color: #0a0a0a;
            }
          }

          .active {
            background: #ffbe11;
            color: #0a0a0a;
          }
        }
      }

      .placeArea {
        background: #2e2e2e;

        ul {
          .placeAreaRight {
            background: #2e2e2e;
          }

          .placeAreaLi {
            color: #fff;

            &:hover {
              background: #ffbe11;
              color: #0a0a0a;
            }
          }

          .placeAreaBtn {
            background: #ffbe11;
            color: #0a0a0a;
          }

          .active {
            background: #ffbe11;
            color: #0a0a0a;
          }
        }
      }

      .placeMain {
        .placeBox {
          .centerPlace {
            background: #1a1a1a;
          }

          .placeUl {
            .placeBoxLi {
              background: #2e2e2e;
              color: #ccc;

              .checkBox {
                border: 2px solid #ccc;
              }

              .placeQueue {
                i {
                  color: #ffbe11;
                }
              }

              .iconBox {
                .placeMenu {
                  i {
                    color: #ffbe11;
                  }
                }
              }

              // 1空闲 2消费中 3故障 4已结账 5清洁中 6锁定
              .reserveBg {
                background: #F04848 !important;
                color: #0A0A0A; font-weight: bold;
              }

              .callingBg {
                background: #f04848 !important;
                color: #0A0A0A; font-weight: bold;
              }
              .titleStatus2 {
                background: #FFBE11;
                color: #0A0A0A; font-weight: bold;
              }

              .titleStatus3 {
                background: #a480ec;
                color: #0A0A0A; font-weight: bold;
              }

              .titleStatus6 {
                background: #ff5faf;
                color: #0A0A0A; font-weight: bold;
              }

              .titleStatus4 {
                background: #37b474;
                color: #0A0A0A; font-weight: bold;
              }

              .titleStatus5 {
                background: #ff7b05;
                color: #0A0A0A; font-weight: bold;
              }

              .titleStatus1 {
                background: #2e2e2e;
                color: #fff;
              }
              .guzhang{
                font-size: 26px;
                margin-bottom: 5px;
              }
            }
            .darkBg{
              background: #212121 !important;
            }
          }

          .serviceTip {
            background: #1a1a1a;

            .serviceBtn {
              background: #2e2e2e;
              color: #fff;

              i {
                border: 1px solid #fff;
              }
              // 已预订
              .reserved {
                background: #F04848;
              }

              .calling {
                background: #f04848;
              }
              // 消费中
              .consumpting {
                background: #ffbe11;
              }

              .cleaning {
                background: #ff7b05;
              }

              .fault {
                background: #a480ec;
              }

              .notOpen {
                background: #ff5faf;
              }
              //已结账
              .closed {
                background: #37B474;
              }

              .free {
                background: #2e2e2e;
              }

              .foot-icon {
                border: none !important;
                color: #ffbe11;
              }
              .huiseIcon{
                color: #A5A5A5 !important;
              }
            }

            .active {
              background: #000000;
              color: #FFFFFF;
              border: 1px solid #FFBE11 !important;
            }
            
          }
        }
      }
    }
  }

  // 座位信息
  .consolePlaceInfo {
    .tabNav .el-tabs__content {
      background: #1a1a1a;
      color: #fff !important;
    }

    .tabNav .el-tabs__header {
      background: #2e2e2e;
      color: #fff !important;
    }

    .tabNav .el-tabs__item {
      color: #fff !important;
    }

    .tabNav .is-active {
      background-color: #1a1a1a !important;
      color: #fff !important;
    }

    .tabNav .reserveForm .el-form-item {
      .el-form-item__label {
        color: #fff !important;
      }
    }

    .topNav .updateStatus .el-input__inner {
      background-color: #2e2e2e !important;
      color: #fff !important;
    }

    .mainContent .el-tabs--border-card {
      background-color: #2e2e2e !important;
    }

    .subBox {
      background: #1a1a1a;
    }
  }

  // 添加预定
  .mutilPlace {
    background: #000000 !important;

    .topNav {
      color: #fff !important;

      .topNavBtn {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .placeTypeInfo {
        background: #2e2e2e;
        border: 1px solid #555555;
      }
    }

    .placeList {
      .mutilPlaceName {
        li {
          background: #2e2e2e;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .changeStatusForm {
        color: #fff;

        .changeStatusBtn {
          background: #fff;
        }

        .submitBtn {
          background: #ffbe11;
          color: #0a0a0a;
        }

        .span-box {
          .time-span {
            background: #2e2e2e;
          }
        }
      }

      .topNavItem {
        border-bottom: 1px solid #444444;
        color: #ffbe11;
      }

      ::v-deep .el-form-item__label {
        color: #ffffff !important;
      }

      ::v-deep .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        color: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #ffbe11;
        background: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked+.el-radio__label {
        color: #ffbe11;
      }

      .sActive {
        color: #0a0a0a;
        background: #ffbe11 !important;
      }
    }
  }

  // 点单页面
  .OrderMeal {
    background-color: #000;

    .topNav {
      background: #1a1a1a url("/static/img/topbg.076c01a6.png") no-repeat right top;
      color: #fff;

      .topNavBtn {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .titleType {
        color: #ffbe11;
      }

      .topNavTip {
        border: 1px dashed #555555;
      }
    }

    .placeList {
      .mutilPlaceName {
        li {
          background: #2e2e2e;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .menuRight {
        background-color: #222222;

        .guestMenu {
          color: #ffffff;
        }

        .menuRightBg {
          background-image: url(~@/assets/placeBillBillBg.png);
        }

        div {
          .itemTitle {
            color: #fff;
          }

          .shopItem {
            color: #b8b8b8;
            border-bottom: 1px solid #2E2E2E;
          }

          .shopItem {
            color: #B8B8B8;
            border-bottom: 1px solid #2E2E2E;
          }

          .lastShopItem {
            border-bottom: 0px;
            color: #B8B8B8;
          }

          .orderMealInfo {
            border-top: 1px dashed #707070;
            border-bottom: 1px dashed #707070;
            color: #B8B8B8;
          }

          .lastOrderMealInfo {
            border-bottom: 0px;
            color: #B8B8B8;
          }
        }

        .payment {
          color: #fff;
          box-shadow: 0px -6px 4px #1C1C1C;

          .el-button {
            background-color: #070506;
            color: #fff;
          }
        }


      }

      .shoppingCart {
        background-color: #242424;

        .shopTitle {
          color: #fff;
          background-color: #2e2e2e;
        }

        .shoppingCartList {
          .goodsInfo {
            .goodsTitle {
              .goodsName {
                color: #fff;
              }

              .goodsNumber {
                color: #b8b8b8;
              }
            }

            .goodsSubTitle {
              color: #dda100;
            }

            .caleGoodsNumber {
              color: #fff;
            }
          }
        }

        ul {
          li {
            border-bottom: 1px dashed #444444;
          }
        }

        .placeOrderBox {
          height: 200px;
          color: #FFFFFF;
        }

        .placeOrderBtn {
          color: #FFFFFF;
          background-color: #070506;
        }
      }
    }

    .shopBox {
      ::v-deep .el-input__inner {
        background-color: #fff !important;
        border: 1px solid #cecece;
      }

      .arrtActive {
        background-color: #ffe190 !important;
        border: 1px solid #ffbe11 !important;
      }
    }

    .payBox {
      ::v-deep .el-input__inner {
        background-color: #fff !important;
        border: 1px solid #cecece;
      }
    }

    .el-textarea__inner {
      background-color: #1a1a1a;
      color: #b8b8b8;
    }

    .mainTable {
      .el-input__inner {
        background-color: #1a1a1a !important;
        border: none;
        border-bottom: 1px solid #2e2e2e;
      }
    }

    .el-tabs__content {
      background-color: #1a1a1a;
      color: #fff;
    }

    .el-tabs__nav-scroll {
      background-color: #2b2b2b;
    }

    .el-tabs__item {
      color: #b8b8b8;
      background-color: #2b2b2b;
      border-left: 4px solid #2b2b2b;
    }

    .el-tabs__item.is-active {
      color: #fff;
      background-color: #1a1a1a;
      border-left: 4px solid #ffbe11;
    }

    .el-tabs__item:hover {
      color: #fff;
      background-color: #1a1a1a;
      border-left: 4px solid #ffbe11;
    }

    .el-tabs__item:hover {
      color: #fff;
      background-color: #1a1a1a;
      border-left: 4px solid #ffbe11;
    }
  }

  //并台
  .bingtai {
    background: #000000;

    .topNav {
      background: #1a1a1a url("/static/img/topbg.076c01a6.png") no-repeat right top;
      color: #fff;

      .placeTypeInfo {
        background: #2e2e2e;
        border: 1px solid #555555;
      }
    }

    .placeList {


      .mutilPlaceName {
        li {
          background: #2e2e2e;
          border-radius: 3px;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .changeStatusForm {
        color: #fff;

        .changeStatusBtn {
          background: #fff;
        }

        .submitBtn {
          background: #ffbe11;
          color: #0a0a0a;
        }

        .span-box {
          .time-span {
            background: #2e2e2e;
          }
        }

        .eee {
          .groupBox {
            .add-icon {
              color: #ffbe11;
            }
          }
        }
      }

      .topNavItem {
        border-bottom: 1px solid #444444;
        color: #ffbe11;
      }

      ::v-deep .el-form-item__label {
        color: #ffffff !important;
      }

      ::v-deep .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        color: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #ffbe11;
        background: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked+.el-radio__label {
        color: #ffbe11;
      }

      .sActive {
        color: #0a0a0a;
        background: #ffbe11 !important;
      }
    }
  }

  // 开台
  .openingPlace {
    background: #000000;

    .topNav {
      background: #1a1a1a url("/static/img/topbg.076c01a6.png") no-repeat right top;
      color: #fff;

      .topNavBtn {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .placeTypeInfo {
        background: #2e2e2e;
        border: 1px solid #555555;
      }
    }

    .placeList {
      .mutilPlaceName {
        li {
          background: #2e2e2e;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .changeStatusForm {
        color: #fff;

        .changeStatusBtn {
          background: #fff;
        }

        .submitBtn {
          background: #ffbe11;
          color: #0a0a0a;
        }

        .span-box {
          .time-span {
            background: #2e2e2e;
          }
        }
      }

      .topNavItem {
        border-bottom: 1px solid #444444;
        color: #ffbe11;
      }

      ::v-deep .el-form-item__label {
        color: #ffffff !important;
      }

      ::v-deep .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        color: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #ffbe11;
        background: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked+.el-radio__label {
        color: #ffbe11;
      }

      .sActive {
        color: #0a0a0a;
        background: #ffbe11 !important;
      }
    }
  }

  /*---滚动框背景样式--*/
  ::-webkit-scrollbar-track-piece {
    background: #333;
  }

  .ktvReserveList {
    background: #000000;

    .topNav {
      background: #1a1a1a url("/static/img/topbg.076c01a6.png") no-repeat right top;
      color: #fff;

      .topNavBtn {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .placeTypeInfo {
        background: #2e2e2e;
        border: 1px solid #555555;
      }

      .topLeft {
        .topIcon01 {
          color: #ffbe11;
        }

        .topConsole {
          background-color: #ffbe11 !important;
          color: #0a0a0a !important;

          i {
            color: #0a0a0a !important;
          }
        }

        .el-button {
          background-color: #2e2e2e;
          color: #ffffff;
        }
      }
    }

    .placeList {

      .mutilPlaceName {
        li {
          background: #2e2e2e;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .itemBox {
        border-bottom: 1px solid #333333;
      }

      .changeStatusForm {
        color: #fff;

        .changeStatusBtn {
          background: #fff;
        }

        .submitBtn {
          background: #ffbe11;
          color: #0a0a0a;
        }

        .span-box {
          .time-span {
            background: #2e2e2e;
          }
        }
      }

      .topNavItem {
        border-bottom: 1px solid #444444;
        color: #ffbe11;
      }

      ::v-deep .el-form-item__label {
        color: #ffffff !important;
      }

      ::v-deep .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        color: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #ffbe11;
        background: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked+.el-radio__label {
        color: #ffbe11;
      }

      .sActive {
        color: #0a0a0a;
        background: #ffbe11 !important;
      }
    }
  }

  .kReserveDetaile {
    background: #000000;

    .topNav {
      background: #1a1a1a url("/static/img/topbg.076c01a6.png") no-repeat right top;
      color: #fff;

      .topNavBtn {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .placeTypeInfo {
        background: #2e2e2e;
        border: 1px solid #555555;
      }

      .topLeft {
        .topIcon01 {
          color: #ffbe11;
        }

        .topConsole {
          background-color: #ffbe11 !important;
          color: #0a0a0a !important;

          i {
            color: #0a0a0a !important;
          }
        }

        .el-button {
          background-color: #2e2e2e;
          color: #ffffff;
        }
      }
    }

    .placeList {

      .mutilPlaceName {
        li {
          background: #2e2e2e;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .itemBox {
        border-bottom: 1px solid #333333;
      }

      .d-box {
        color: #ffffff;
      }

      .changeStatusForm {
        color: #fff;

        .changeStatusBtn {
          background: #fff;
        }

        .submitBtn {
          background: #ffbe11;
          color: #0a0a0a;
        }

        .span-box {
          .time-span {
            background: #2e2e2e;
          }
        }
      }

      .topNavItem {
        border-bottom: 1px solid #444444;
        color: #ffbe11;
      }

      ::v-deep .el-form-item__label {
        color: #ffffff !important;
      }

      ::v-deep .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        color: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #ffbe11;
        background: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked+.el-radio__label {
        color: #ffbe11;
      }

      .sActive {
        color: #0a0a0a;
        background: #ffbe11 !important;
      }
    }
  }

  .cancelOrder {
    background: #000000;
    .topNav {
      background: #1a1a1a url("/static/img/topbg.076c01a6.png") no-repeat right top;
      color: #fff;
      .topNavBtn {
        background: #ffbe11;
        color: #0a0a0a;
      }

      .placeTypeInfo {
        background: #2e2e2e;
        border: 1px solid #555555;
      }

      .topLeft {
        .topIcon01 {
          color: #ffbe11;
        }

        .topConsole {
          background-color: #ffbe11 !important;
          color: #0a0a0a !important;

          i {
            color: #0a0a0a !important;
          }
        }

        .el-button {
          background-color: #2e2e2e;
          color: #ffffff;
        }
      }
    }

    .placeList {

      .mutilPlaceName {

        li {
          background: #2e2e2e;
          color: #fff;
        }
      }
    }

    .mainContent {
      background: #1a1a1a;

      .itemBox {
        border-bottom: 1px solid #333333;
      }

      .d-box {
        color: #ffffff;
      }

      .changeStatusForm {
        color: #fff;

        .changeStatusBtn {
          background: #fff;
        }

        .submitBtn {
          background: #ffbe11;
          color: #0a0a0a;
        }

        .span-box {

          .time-span {
            background: #2e2e2e;
          }
        }
      }


      .topNavItem {
        border-bottom: 1px solid #444444;
        color: #ffbe11;
      }

      ::v-deep .el-form-item__label {
        color: #ffffff !important;
      }

      ::v-deep .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
        color: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #ffbe11;
        background: #ffbe11;
      }

      ::v-deep .el-radio__input.is-checked+.el-radio__label {
        color: #ffbe11;
      }

      .sActive {
        color: #0a0a0a;
        background: #ffbe11 !important;
      }
    }
  }

  transition: background-color 2000;
}
